body {
    background: #FED89F;
}

.form {
    width: 343px;
    height: 462px;
    margin: 10% auto;
}

.form_title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;

    color: #CA8826;
}

.input-group > input {
    border-left: none;
    border-color: #CA6B26;
    background: #FED89F;
}

.input-group {
    height: 50px;
    margin-top: 25px;
}

.input-group > input:focus {
    border-left: none;
    border-color: #CA6B26;
    background: #FED89F;
    outline: 0 none;
    box-shadow: none;

}

.input-group-text {
    border-right: none;
    border-color: #CA6B26;
    background: #FED89F;
}

.fa, .fa-regular, .fa-solid {
    color: #CA6B26;
}

.btn-submit {
    background: #CA6B26;
    color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}

.btn-submit:hover {
    background: #a64d13;
    color: #FFFFFF;
}

.login-redirect {
    text-align: center;
    color: #CA6B26;
    padding: 10px;
}

.login-redirect > a {
    color: #CA6B26;
    text-decoration: none;
}

.bottom {
    position: absolute;
    width: 1450px;
    height: 139.35px;
    left: 0px;
    bottom: 0;
}